<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operation</title>
</head>
<body>
<h1 style="text-align:center;">OPERATION</h1>
<form action="res" method="get">
    <input type="text" name="num1" placeholder="First Number"><br><br>
    <input type="text" name="num2" placeholder="Second Number"><br><br>
    <input type="submit" name="add" value="+">
    <input type="submit" name="mul" value="*">
    <input type="submit" name="sub" value="-">
    <input type="submit" name="div" value="/">

</body>
</html>